.banner-img {
    width: 100%;
}
.details-banner {
    position: relative;
}

.banner-qunote {
    position: absolute;
    bottom: 20px;
    color: rgb(93, 134, 112);
    text-align: center;
}

.price-btn {
    display: flex;
    justify-content: space-around;
}

.price-btn button {
    padding: 10px;
    background: rgb(255, 191, 53);
    color: white;
}