.navcontainr {
    text-align: center;
    color: white;
    background: rgb(83, 31, 255);
    width: 100%;
    height: 70px;
}

.navcontainr-flex {
    display: flex;
    line-height: 70px;
    justify-content: space-between;
}

.navcontainr-flex div {
    display: flex;
    margin-right: 20px;
}
.navcontainr-flex div i {
    line-height: 70px;
    font-size: 26px;
    padding-right: 10px;
}
.navcontainr-flex div h5 {
    line-height: 70px;
    margin-left: 20px;
}
.google-style {
    color: green;
    font-size: 26px;
    padding: 5px 10px;
}